@import 'normalize.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #f05123;
    --black-color: #000;
    --text-color: #333;

    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    --header-height: 66px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}
