@import 'normalize.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #f05123;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    --header-height: 66px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.d-flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    border: none;
    outline: none;
}

input {
    font-family: inherit;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}
