@import 'normalize.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #f05123;
    --secondary-color: #029e74;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --desc-color: #0000008a;

    --font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    --header-height: 66px;
    --sidebar-width: 96px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    overscroll-behavior: none;
}

:not(.w-md-editor-text-input)::selection {
    background-color: var(--primary-color);
    color: #fff;
}

.d-flex {
    display: flex;
}

.al-center {
    align-items: center;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    border: none;
    outline: none;
    font-family: inherit;
}

button.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

a {
    color: var(--text-color);
    text-decoration: none;

    &.disabled {
        opacity: 0.5 !important;
        pointer-events: none;
    }
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

// Selection
@media (min-width: 1024px) {
    html::-webkit-scrollbar {
        border-radius: 0;
        height: 8px;
        width: 8px;
    }
}

@media (min-width: 1024px) {
    html::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

@media (min-width: 1024px) {
    html::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0;
    }
}

// MD editor
.w-md-editor-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: var(--header-height);
    height: 35px !important;
    z-index: 1;
}

.w-md-editor-fullscreen .w-md-editor-toolbar {
    top: 0;
}

.w-md-editor-toolbar button {
    margin: 0 3px !important;
    padding: 5px !important;
}

.w-md-editor-toolbar svg {
    width: 16px;
    height: 16px;
}

.w-md-editor-preview {
    height: calc(100% - 6px);
}

.wmde-markdown.wmde-markdown-color {
    --font-size: 1.8rem;
    --line-height: 2;

    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size, 1.8rem);
    line-height: 2;
    line-height: var(--line-height, 2);
    background-color: transparent;
}
